@using Syncfusion.EJ2
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Content  -->
        <section class="col-lg-12 p-0 box-pro">
            <div class="p-15">
                @section ControlsSection{
                    <div class="control-section">
                        @(Html.EJS().Gantt("Gantt").DataSource((IEnumerable<object>)ViewBag.DataSource).Height("450px")
        .TaskFields(ts => ts.Id("TaskId").Name("TaskName").StartDate("StartDate")


        .EndDate("EndDate").Progress("Progress").Dependency("Predecessor1").Child("SubTasks")
        .BaselineStartDate("BaselineStartDate").Duration("Duration"))
                            //.BaselineEndDate("BaselineEndDate")).Columns(col =>
                            //                    {
                            //                        col.Field("TaskName").HeaderText("Service Name").Width(250).ClipMode(Syncfusion.EJ2.Grids.ClipMode.EllipsisWithTooltip).Add();
                            //                        col.Field("BaselineStartDate").HeaderText("Planned start time").Add();
                            //                        col.Field("BaselineEndDate").HeaderText("Planned end time").Add();
                            //                      //  col.Field("StartDate").HeaderText("Start time").Add();
                            //                      //  col.Field("EndDate").HeaderText("End time").Add();
                            //                    }).AllowSelection(true).IncludeWeekend(true)
                            //                    .TimelineSettings(ts => ts.TimelineUnitSize(65).TopTier(tt => tt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.None))
                            //                        .BottomTier(bt => bt.Unit(Syncfusion.EJ2.Gantt.TimelineViewMode.Minutes).Count(15).Format("hh:mm a")))
                            //                    .TooltipSettings(ts => ts.Taskbar("#tooltip")).DurationUnit(Syncfusion.EJ2.Gantt.DurationUnit.Minute)
                            //                    .DateFormat("hh:mm a").Height("450px")
                            //                    .DayWorkingTime(dw =>
                            //                    {
                            //                        dw.From(0).To(24).Add();
                            //                    }).ProjectStartDate("03/05/2018 09:30:00 AM").ProjectEndDate("03/05/2018 07:00:00 PM")



                            //.TimelineSettings(ts => ts.TimelineViewMode(Syncfusion.EJ2.Gantt.TimelineViewMode.Month))
                            .Toolbar(new List<string>
                                () { "ZoomIn", "ZoomOut", "ZoomToFit" })
                                .LabelSettings(ls => ls.LeftLabel("TaskName"))
                            //.LabelSettings(ls => ls.LeftLabel("Predecessor1"))
                            .Render()
                        )
                    </div>
                }
            </div>
        </section>

    </div>
</div>


